<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:http-conf="http://cxf.apache.org/transports/http/configuration"
    xmlns:sec="http://cxf.apache.org/configuration/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
		http://www.springframework.org/schema/beans/spring-beans-4.3.xsd  
		http://www.springframework.org/schema/context  
		http://www.springframework.org/schema/context/spring-context-4.3.xsd  
		http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
		http://cxf.apache.org/configuration/security http://cxf.apache.org/schemas/configuration/security.xsd
		http://cxf.apache.org/transports/http/configuration http://cxf.apache.org/schemas/configuration/http-conf.xsd">

<context:property-placeholder location="classpath:config.properties" />

<jaxws:client id="teamServiceClient"
              serviceClass="com.danielme.demo.jaxws.cxf.ws.ITeamService"
              address="${endpoint}" />
              
              <!-- TLS and BASIC -->
<!-- <http-conf:conduit name="https://localhost:8443/spring-cxf-ws/ws/v/1/teamService">
   	 <http-conf:tlsClientParameters disableCNCheck="true">   		 
   		 <sec:trustManagers>
   			 <sec:keyStore type="JKS" password="password"
   				   resource="/keystore-test.jks"  />
   		 </sec:trustManagers>
   	 </http-conf:tlsClientParameters>
   	  <http-conf:authorization>   	      	
   	      	 <sec:UserName>usuario</sec:UserName>
 			 <sec:Password>password</sec:Password>
 			  <sec:AuthorizationType>Basic</sec:AuthorizationType>			 
   	 </http-conf:authorization>
 </http-conf:conduit>-->             
	
</beans>
