<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:jaxws="http://cxf.apache.org/jaxws"
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
    http://www.springframework.org/schema/beans/spring-beans-4.3.xsd  
    http://www.springframework.org/schema/context  
    http://www.springframework.org/schema/context/spring-context-4.3.xsd  
    http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

    <!-- activates annotations (@Service, @Component, @Autowired) -->
    <context:component-scan
        base-package="com.danielme.demo" />

    <!-- publish the web service (no spring)-->
    <!-- <jaxws:endpoint id="teamService" implementor="com.danielme.demo.jaxws.cxf.ws.TeamServiceImpl" 
        address="/v/1/teamService" /> -->

    <!-- references a spring bean -->
    <!-- <bean id="teamService" class="com.danielme.demo.jaxws.cxf.ws.TeamService"/> -->
    <jaxws:endpoint id="teamServiceWS"
        implementor="#teamService" address="/v/1/teamService">
        <jaxws:handlers>
            <bean id="customSOAPHandler"
                class="com.danielme.demo.jaxws.cxf.ws.handler.CustomSOAPHandler" />
        </jaxws:handlers>
        <jaxws:features>
            <bean class="org.apache.cxf.feature.LoggingFeature" />
        </jaxws:features>
    </jaxws:endpoint>

</beans>